
/* GENERAL STYLES */

h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    text-transform: uppercase;
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 45px;
    }
}

h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
}

h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;

}

h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
    padding-top:2%;
}

h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

section{
    padding: 5%;
}

.subgen{
    margin-top:3%;
    
}

img{
    margin-top: 2%;
    margin-bottom: 5%;
}





/* HERO IMAGE */

.heroTextProj {
    color:white;
}

.heroImg{
    height: auto;
    width: auto;
    padding: 10%;
}







/* PROJECT OVERVIEW */

.projectOverviewBG {
    background-color: #36103f;
    color: #ffffff;
}

.projectOverviewSecondary h6{
    margin-top: 25px;
    margin-bottom: 5px;
}

.projectOverviewSecondary p{
    margin: 0;
    padding: 0;
}

.projectOverviewSecondary .noMarginTxt{
    margin-top: 2%;
    
}

.projectOverviewSecondary{
    margin-left:5%;
}

@media only screen and (max-width: 982px){
    .projectOverviewSecondary{
        margin-left:0;
    }
    
}





/* WHY QUESTION */

.whyQuestion {
    background-color: #fbcccc;
    color: #36103f;
}






/* SECTION 01 */

.phase01BG {
    background-color: #ececec;
    color:#36103f
}

.interviewBG{
    background-color: #FFDFA5;
    width: 100%;
    padding: 5%;
    color:#000000;
    margin: 0 auto;
   
}

.interview01 p{
    font-size: larger;
    font-style: italic;
    margin-bottom:0;
    margin-right:0;
}

.interview02 p{
    font-size: larger;
    font-style: italic;
    margin-bottom:0;
    margin-right:0;
}

.interview01{
    padding: 5%;
}

.interview02{
    padding: 5%;
}

.interview11{
    padding-top: 0%;
}

.dldInterview03{
    background-color: #FFDFA5;
    width: 100%;
    padding: 5%;
    color:#000000;
    margin-bottom:0;
}

.interview15{
    background-color: #36103f;
    width: 100%;
    padding: 5%;
    color:#FFDFA5;
    margin-bottom:0;
    padding: 5%;
}

.interview15 p{
    font-size: larger;
    font-style: italic;
}

.interviewBGs{
    background-color: #36103f;
    width: 100%;
    padding: 5%;
    color:#000000;
    margin:0 auto;
}



/* SECTION 02 */

.phase02BG  {
    background-color: #36103f;
    color: #ffffff;
}






/* SECTION 03 */

.phase03BG {
    background-color: #fbcccc;
}

.cardsgrouped img{
    margin-bottom:3%;
}





/* SECTION 04 */

.phase04BG {
    background-color: white;
}






/* SECTION 05 */

.phase05BG {
    background-color: #FFDFA5;
}






/* FINAL THOUGHTS SECTION */

.finalthoughtsBG {
    background-color: #36103f;
    color: #ffffff;
}

.thoughts p{
    margin: 0;
    padding: 0;
}

.thoughts h1{
    color: #fbcccc;
}

.thoughts h3{
    color: #fbcccc;
}



#getInTouch section{
    padding-top:0;
}




 









 